@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #e8d5d5;

}

header {
  width: 100%;
  height: 70px;
  background: #fff;
}

header .logo {
  width: 45px;
}

header .row {
  margin: 0px !important;
}